* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: $dark-black;
    font-size: 16px;
    line-height: 1.6 !important;
    @extend %regular-font;
}

//General
.container {
    padding-right: 16px;
    padding-left: 16px;
}

.max_768{
    max-width: 768px;
    margin: 0px auto;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
    >* {
        padding-right: 16px;
        padding-left: 16px;
    }
}

.white_card {
    @include white_card(20px 15px);
}

.shadow_card {
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, .08);
    border-radius: 24px;
    padding: 35px;
    @extend %white-bg;
}

.shadow_card1 {
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, .08);
    border-radius: 16px;
    padding: 30px;
    @extend %white-bg;
    height: 100%;
}

.shadow_card2 {
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, .08);
    border-radius: 16px;
    padding: 20px;
    @extend %white-bg;
    &.primary_bg{
        background: $primary;
        color: $white;
    }
}

.pointer {
    cursor: pointer;
}

.flex_grp_between {
    @extend %flex_grp_between;
}

.flex_grp_center {
    @extend %flex_grp_center;
}

.flex_grp_align_center {
    @extend %flex_grp_align_center;
}

.flex_grp_align_start {
    @extend %flex_grp_align_start;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex1 {
    flex: 1;
}

.py_75 {
    padding: 75px 0px;
}
.pt_50_py_75{
    padding-top: 50px;
    padding-bottom: 75px;
}

.mb_75 {
    margin-bottom: 75px;
}

.mb_60 {
    margin-bottom: 60px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb_40 {
    margin-bottom: 40px;
}

.top_bottom_borders {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.bottom_border {
    border-bottom: 1px solid #E0E0E0;
}

.mb_30_sm_20 {
    margin-bottom: 30px;
}

.last_margin_none {
    li {
        &:last-child {
            margin-bottom: 0px !important;
        }
    }
}

.last_margin_hide {
    >div {
        &:last-child {
            margin-bottom: 0px !important;
        }
    }
}

.py_hed {
    padding: 18px 0px 25px 0px;
}

.gap-r5 {
    margin-right: 5px;
}
.position_sticky .nav{
    position: sticky;
    top: 100px;
}
.nowrap{
    white-space: nowrap;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 991.98px) {
    .md_last_margin_hide {
        >div {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
    .shadow_card1 {
        padding: 20px 16px;
    }
}

@media (max-width: 767.98px) {
    .py_75 {
        padding: 50px 0px;
    }
    .pt_50_py_75{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .mb_75 {
        margin-bottom: 40px;
    }
    .mb_60 {
        margin-bottom: 30px;
    }
    .mb_40 {
        margin-bottom: 30px;
    }
    .shadow_card {
        padding: 20px 16px;
    }
    .sm_hide {
        display: none !important;
    }
    .mb_30_sm_20 {
        margin-bottom: 24px;
    }
    .sm-mt-35 {
        margin-top: 35px;
    }
}

@media (max-width: 575.98px) {
    .py_75 {
        padding: 40px 0px;
    }
    .pt_50_py_75{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .mb_75 {
        margin-bottom: 30px;
    }
    .mb_40 {
        margin-bottom: 24px;
    }
    body {
        font-size: 14px;
    }
    .sm-mt-35 {
        margin-top: 20px;
    }
    .shadow_card2 {
        padding: 16px;
    }
    .shadow_card1 {
        padding: 16px;
    }
}

@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}