//Header
.ioh_megamenu {
    @extend %white-bg;
    transition: all .5s ease-out;
    transition: position 5s;
    .top_header {
        border-bottom: 1px solid $border;
        transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        @extend %white-bg;
        &.remove {
            display: none;
            transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .top_header_in {
            @extend %flex_grp_between;
            height: 33px;
        }
        .top_header_left_links {
            @extend %flex_grp_align_center;
            li {
                margin-right: 15px;
                a {
                    padding: 5px 0px;
                    font-size: 12px;
                    display: inline-block;
                    font-family: $light-font;
                    color: $dark-gray;
                    &:hover {
                        @extend %primary-color;
                    }
                }
                &:last-child {
                    margin-right: 0px
                }
            }
        }
        .top_header_right {
            @extend %flex_grp_align_center;
            &_links {
                @extend %flex_grp_align_center;
                li {
                    margin-right: 15px;
                    a {
                        padding: 5px 0px;
                        font-size: 12px;
                        display: inline-block;
                        @extend %primary-font;
                        @extend %dark-black-color;
                        &:hover {
                            @extend %primary-color;
                        }
                    }
                }
            }
            .language_links {
                @extend %flex_grp_align_center;
                li {
                    margin-right: 5px;
                    margin-left: 5px;
                    a {
                        padding: 5px;
                        font-size: 12px;
                        text-transform: uppercase;
                        display: inline-block;
                        @extend %primary-font;
                        @extend %dark-black-color;
                        position: relative;
                        &::after {
                            content: '';
                            width: 1px;
                            height: 50%;
                            background: $dark-gray;
                            color: $dark-gray;
                            position: absolute;
                            top: 7px;
                            right: -5px;
                        }
                        &:hover {
                            @extend %primary-color;
                        }
                        &.active {
                            @extend %primary-color;
                            &:hover {
                                @extend %primary-color;
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                        a::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    .ioh_header {
        @extend %white-bg;
        position: relative;
        border-bottom: 1px solid #e0e0e0;
        .ioh_header_in {
            @extend %flex_grp_between;
            height: 76px;
        }
        .ioh_humburger {
            padding: 0px;
            border: 0px;
            background: none;
            display: none;
            span {
                position: relative;
                width: 22px;
                height: 3px;
                border-radius: 10px;
                @extend %dark-black-bg;
                display: inline-block;
                &::before,
                &::after {
                    content: '';
                    width: 22px;
                    height: 3px;
                    border-radius: 10px;
                    @extend %dark-black-bg;
                    position: absolute;
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                }
                &::before {
                    top: -7px;
                    left: 0px;
                }
                &::after {
                    bottom: -7px;
                    left: 0px;
                }
            }
        }
        .ioh_header_logo {
            margin-right: 24px;
            cursor: pointer;
            img {
                height: 36px;
                margin-bottom: 5px;
            }
        }
        .ioh_nav_menu {
            flex: 1;
            >ul {
                @extend %flex_grp_align_center;
                >li {
                    margin-right: 10px;
                    >a {
                        padding: 15px 10px;
                        font-size: 16px;
                        display: inline-block;
                        @extend %primary-font;
                        @extend %dark-black-color;
                        position: relative;
                        margin-right: 10px;
                        &::before,&::after{
                            content: '';
                            position: absolute;
                            top: 51%;
                            margin-top: -1px;
                            display: inline-block;
                            width: 6px;
                            height: 2px;
                            transform-origin: 50% 50%;
                            background: $dark-black;
                            backface-visibility: hidden;
                            transition: width 0.3s, transform 0.3s;
                            transition: width 0.3s, transform 0.3s, -webkit-transform 0.3s;
                        }
                        &::before{
                            transform: rotate(45deg);
                            right: -4px;
                        }
                        &::after{
                            transform: rotate(-45deg);
                            right: -8px;
                        }
                        &.selected {
                            @extend %primary-color;
                            &::before,&::after{
                                @extend %primary-bg;
                            }
                            &::after{
                                transform: rotate(45deg);
                            }
                            &::before{
                                transform: rotate(-45deg);
                            }
                        }
                        &:hover{
                            @extend %primary-color;
                            &::before,&::after{
                                @extend %primary-bg;
                            }
                        }
                    }
                    &.only_mobile {
                        display: none;
                    }
                    &:first-child{
                        > a{
                            &::before, &::after{
                                content: none;
                            }
                        }
                    }
                }
            }
        }
        .ioh_header_right {
            margin-left: 20px;
        }
        .ioh_nav_second_level {
            position: absolute;
            top: 76px;
            right: 0px;
            width: 100vw;
            min-height: 550px;
            background-color: $white;
            padding: 45px 0px;
            transform: translateX(0);
            transition: opacity .3s 0s, visibility 0s 0s;
            z-index: 100;
            .back_menu {
                display: none;
                cursor: pointer;
                &.arrow_link {
                    font-size: 14px;
                    @extend %primary-color;
                    @extend %primary-font;
                    &:hover {
                        @extend %primary-color;
                    }
                }
            }
            .ioh_nav_head_grp {
                margin-bottom: 30px;
                cursor: pointer;
                h3 {
                    font-size: 30px;
                    margin-right: 40px;
                    margin-bottom: 0px;
                }
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    @extend %white-bg;
                    @extend %flex_grp_center;
                    border: 0px;
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
                    color: $dark-black;
                    img {
                        width: 20px;
                    }
                }
            }
            .ioh_sub_menu_grp {
                max-width: 900px;
                .ioh_sub_menu_head {
                    text-transform: uppercase;
                    position: relative;
                    font-size: 14px;
                    margin-bottom: 5px;
                    img {
                        display: none;
                    }
                }
                .ioh_sub_menu {
                    li {
                        a {
                            @extend %regular-font;
                            font-size: 14px;
                            line-height: 21px;
                            padding: 8px 0px;
                            display: block;
                            color: $dark-black;
                            &.arrow_link {
                                font-size: 14px;
                                @extend %primary-color;
                                @extend %primary-font;
                                &:hover {
                                    @extend %primary-color;
                                }
                            }
                            &:hover{
                                @extend %primary-color;
                            }
                        }
                    }
                }
                .col-lg-4 {
                    margin-bottom: 30px;
                }
            }
            &.is-hidden {
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s 0s, visibility 0s .3s;
                transform: translateX(0);
            }
        }
    }
    &.fixed {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        animation: smoothScroll .8s forwards;
        z-index: 101;
        .ioh_header .ioh_nav_second_level {
            top: 76px;
        }
        // .header_alerts{
        //     display: none;
        // }
        .top_header{
            display: none;
        }
    }
}

.ioh_search_trigger {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: $white-light;
    @extend %flex_grp_center;
    position: relative;
    overflow: hidden;
    border: 0px;
    transition: all 1s;
    &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 13px;
        right: 0;
        bottom: 0;
        left: 14px;
        width: 8px;
        height: 2px;
        border-radius: 10px;
        background: $dark-black;
        transform: rotate(45deg);
        transition: all .3s;
    }
    &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -2px;
        right: 0;
        bottom: 0;
        left: 0px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $dark-black;
        transition: all .3s;
    }
    &.search-is-visible{
        &::before {
            top: 0;
            left: 0;
            width: 18px;
        }
        &::after {
            top: 0;
            left: 0;
            width: 18px;
            height: 2px;
            border-radius: 10px;
            border: none;
            background: $dark-black;
            transform: rotate(-45deg);
        }
    }
}


// .ioh_search_trigger {
//     width: 42px;
//     height: 42px;
//     border-radius: 50px;
//     background: $white-light;
//     @extend %flex_grp_center;
//     position: relative;
//     overflow: hidden;
//     border: 0px;
//     &::before, &::after{
//         content: '';
//         position: absolute;
//         -webkit-transition: opacity 0.3s;
//         -moz-transition: opacity 0.3s;
//         transition: opacity 0.3s;
//         -webkit-transform: translateZ(0);
//         -moz-transform: translateZ(0);
//         -ms-transform: translateZ(0);
//         -o-transform: translateZ(0);
//         transform: translateZ(0);
//         -webkit-backface-visibility: hidden;
//         backface-visibility: hidden;
//     }
//     &::before{
//         top:11px;
//         left:11px;
//         width:18px;
//         height:18px;
//         border-radius:50%;
//         border:3px solid $dark-black;
//     }
//     &::after{
//         height:3px;width:8px;
//         background:$dark-black;
//         bottom:13px;
//         right:11px;
//         -webkit-transform: rotate(45deg);
//         -moz-transform: rotate(45deg);
//         -ms-transform: rotate(45deg);
//         -o-transform: rotate(45deg);
//         transform: rotate(45deg);
//     }
//     span{
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         top: 0;
//         left: 0;
//         &::before, &::after{
//             content: '';
//             position: absolute;
//             display: inline-block;
//             height: 3px;
//             width: 22px;
//             border-radius: 10px;
//             top: 50%;
//             margin-top: -2px;
//             left: 50%;
//             margin-left: -11px;
//             background: $dark-black;
//             opacity: 0;
//             -webkit-transform: translateZ(0);
//             -moz-transform: translateZ(0);
//             -ms-transform: translateZ(0);
//             -o-transform: translateZ(0);
//             transform: translateZ(0);
//             -webkit-backface-visibility: hidden;
//             backface-visibility: hidden;
//             -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
//             -moz-transition: opacity 0.3s, -moz-transform 0.3s;
//             transition: opacity 0.3s, transform 0.3s;
//         }
//         &::before{
//             -webkit-transform: rotate(45deg);
//             -moz-transform: rotate(45deg);
//             -ms-transform: rotate(45deg);
//             -o-transform: rotate(45deg);
//             transform: rotate(45deg);
//         }
//         &::after{
//             -webkit-transform: rotate(-45deg);
//             -moz-transform: rotate(-45deg);
//             -ms-transform: rotate(-45deg);
//             -o-transform: rotate(-45deg);
//             transform: rotate(-45deg);
//         }
//     }
//     &.search-is-visible{
//         &::before, &::after{
//             opacity: 0;
//         }
//         span{
//             &::before, &::after{
//                 opacity: 1;
//                 background-color:$dark-black;
//             }
//             &::before{
//                 -webkit-transform: rotate(135deg);
//                 -moz-transform: rotate(135deg);
//                 -ms-transform: rotate(135deg);
//                 -o-transform: rotate(135deg);
//                 transform: rotate(135deg);
//             }
//             &::after{
//                 -webkit-transform: rotate(45deg);
//                 -moz-transform: rotate(45deg);
//                 -ms-transform: rotate(45deg);
//                 -o-transform: rotate(45deg);
//                 transform: rotate(45deg);
//             }
//         }
//     }
// }

.ioh_search{
    min-height: auto;
    z-index: 999;
    opacity: 0;
    display: none;
    @extend %white-bg;
    position: absolute;
    width: 100%;
    top:76px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.03);
    .search_input_section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .search_input {
        margin-bottom:30px;
        position: relative;
        .form-control{
            height: 90px;
            padding: 15px 40px 15px 70px;
            border-radius: 16px;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
            width: 100%;
            border: none;
            font-size: 18px;
            margin-bottom: 10px;
            &::placeholder {
                color: $disable;
                opacity: 1;
                font-family: $light-font;
            }
            &::-webkit-input-placeholder {
                color: $disable;
                font-family: $light-font;
            }
            &::-moz-placeholder {
                color: $disable;
                font-family: $light-font;
            }
            &:-ms-input-placeholder {
                color: $disable;
                font-family: $light-font;
            }
            &:-moz-placeholder {
                color: $disable;
                font-family: $light-font;
            }
        }
        button{
            position: absolute;
            border:0px;
            background: transparent;
            padding: 5px;
            img{
                width: 20px;
            }
        }
        .search_icon{
            pointer-events: none;
            top:26px;
            left: 20px;
        }
        .close_icon{
            top: 26px;
            right: 20px;
        }
        .search_input--support{
            font-size: 14px;
            font-family: $light-font;
            color: $disable;
        }
    }
    .search-popular-text {
        @extend %primary-font;
        font-size: 14px;
        @extend %primary-color;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    .search_pills{
        @extend %flex_grp_align_center;
        flex-wrap: wrap;
        li{
            margin-bottom: 5px;
            margin-right: 5px;
            a{
                min-width: 100px;
                display: inline-block;
                height: 34px;
                border-radius: 30px;
                background-color: #f7f7f7;
                padding: 8px 20px;
                font-family: $light-font;
                font-size: 12px;
                text-align: center;
                @extend %dark-black-color;
                cursor: pointer;
                &:hover{
                    @extend %primary-bg;
                    @extend %white-color;
                }
            }
        }
    }
    &.is-visible{
        opacity: 1;
        display: block;
        transition: all .5s ease-out;
        transition: position 5s;
        animation: smoothScroll1 .6s forwards;
    }
}

.nav_media_dropdown {
    .ioh_sub_menu_grp {
        .media_sub_menu {
            li {
                a {
                    p {
                        max-height: 55px;
                        @include ellipsis(2);
                        @extend %regular-font;
                        &:first-child {
                            font-size: 14px;
                            margin-bottom: 5px;
                        }
                        &:last-child {
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

.nav_sr_dropdown {
    .ioh_sub_menu_grp {
        .sr_sub_menu {
            li {
                p {
                    max-height: 80px;
                    @include ellipsis(4);
                    @extend %regular-font;
                    font-size: 12px;
                    margin-bottom: 10px;
                    color: $dark-gray;
                }
            }
        }
    }
}

.header_alerts {
    // position: fixed;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // width: 100%;
    // z-index: 999;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    .container {
        // background-image: url(../images/icons/ioh_circles.png);
        // background-repeat: no-repeat;
        // background-position: 3% center;
        // background-size: 110px;
        // height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_alerts_bgimg{
        margin-right: 16px;
        background-image: url(../images/icons/ioh_circles.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 100px;
        min-width: 100px;
        height: 60px;
    }
    .header_alerts_info{
        @extend %flex_grp_align_center;
    }
    &_heading {
        @extend %white-color;
        font-size: 16px;
        margin-bottom: 0px;
        margin-right: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 750px;
    }
    &_close {
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 5px;
        border: 0px;
        background: none;
        > img {
            width: 16px;
        }
    }
    .ioh_btn {
        white-space: nowrap;
    }
    .arrow_link {
        font-size: 12px;
    }
    &.remove {
        display: none;
        transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
@media (min-width: 768px) {
    .nav_media_dropdown .ioh_sub_menu_grp .media_sub_menu li a p:first-child{
        min-height: 42px;
    }
}
@media (max-width: 1199.98px) {
    .header_alerts_heading{
        max-width: 580px;
    }
    .ioh_megamenu .ioh_header .ioh_nav_menu > ul > li > a{
            font-size: 15px;
            margin-right: 5px;
    }
}
@media (max-width: 991.98px) {
    .ioh_megamenu {
        .ioh_header {
            border-bottom: 0px;
            .ioh_header_in {
                height: 70px;
            }
            .ioh_humburger {
                display: inline-flex;
                padding: 5px 5px 5px 0px;
                &.nav_active {
                    span {
                        height: 0px;
                        &::before {
                            transform: rotate(-45deg);
                            transition: all .3s ease-out;
                            top: 0px;
                        }
                        &::after {
                            transform: rotate(45deg);
                            transition: all .3s ease-out;
                            top: 0px;
                        }
                    }
                }
            }
            .ioh_header_logo {
                margin-right: 0px;
            }
            .ioh_header_right {
                margin-left: 0px;
            }
            .ioh_nav_menu {
                background: #FFFFFF;
                position: absolute;
                top: 70px;
                left: 0px;
                width: 100%;
                height: calc(100vh - 70px);
                z-index: 100;
                visibility: hidden;
                transition: visibility 0s 0s;
                >ul {
                    max-width: 720px;
                    margin: 0px auto;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 20px 16px 0px 16px;
                    >li {
                        margin-right: 0px;
                        align-self: stretch;
                        >a {
                            padding: 15px 0px;
                            font-family: $regular-font;
                            display: block;
                            font-size: 16px;
                            margin-right: 0px;
                            border-bottom: 1px solid $border;
                            &::before, &::after{
                                content: none;
                            }
                        }
                        &:last-child {
                            a {
                                border-bottom: 0px;
                            }
                        }
                    }
                }
                &.nav_active {
                    visibility: visible;
                    transition: visibility 0s 0s;
                }
            }
            .ioh_nav_second_level {
                position: fixed;
                top: 104px;
                right: 0;
                height: calc(100vh - 104px);
                width: 100%;
                overflow: auto;
                z-index: 1;
                padding: 20px 0px;
                transform: translateZ(0);
                transform: translateX(0);
                transition: transform 0.3s;
                &.is-hidden {
                    opacity: inherit;
                    visibility: inherit;
                    transform: translateX(100%);
                    transition: transform 0.3s;
                }
                .ioh_sub_menu_grp {
                    .col-lg-4 {
                        margin-bottom: 20px;
                    }
                }
                .back_menu {
                    display: inline-flex;
                    padding: 10px 0px;
                    margin-bottom: 14px;
                }
            }
        }
        &.nav_active {
            .ioh_header .ioh_header_right .ioh_search_trigger {
                opacity: 0;
                pointer-events: none;
            }
            // .header_alerts {
            //     display: none;
            // }
        }
        &.fixed {
            .ioh_header .ioh_nav_menu {
                top: 70px;
                height: calc(100vh - 70px);
            }
        }
    }
    .ioh_search_trigger{
        width: 30px;
        height: 30px;
        background: $white;
        &::after{
            width: 18px;
            height: 18px;
        }
        &::before{
            top: 14px;
            left: 15px;
        }
        &.search-is-visible{
            &::before{
                width: 20px;
            }
            &::after{
                width: 20px;
            }
        }
    }
    .ioh_search{
        top: 70px;
    }
    .header_alerts {
        .container {
            background-size: 100px;
        }
        &_heading {
            // padding-left: 110px;
            font-size: 14px;
            max-width: 350px;
        }
    }
}

@media (max-width: 767.98px) {
    .ioh_megamenu {
        .top_header .top_header_right_links {
            display: none;
        }
        .ioh_header {
            .ioh_nav_menu>ul {
                max-width: 540px;
                >li {
                    margin-right: 0px;
                    >a {
                        font-size: 16px;
                    }
                    &.only_mobile {
                        display: block;
                    }
                }
            }
            .ioh_nav_second_level {
                background-image: none;
                padding: 20px 0px;
                .ioh_nav_head_grp {
                    justify-content: space-between;
                    h3 {
                        margin-right: 10px;
                        font-size: 26px;
                    }
                    a {
                        width: 36px;
                        height: 36px;
                    }
                }
                .ioh_sub_menu_grp {
                    .ioh_sub_menu_head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        margin-bottom: 0px;
                        padding: 10px 0px;
                        text-transform: capitalize;
                        font-size: 14px;
                        img {
                            display: inline-block;
                            transform: rotate(90deg);
                            transition: all .3s ease-in-out;
                        }
                        &.active {
                            img {
                                transform: rotate(-90deg);
                                transition: all .3s ease-in-out;
                            }
                        }
                    }
                    .ioh_sub_menu {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease-out;
                        li {
                            a {
                                border-bottom: 1px solid $border;
                                display: block;
                                padding: 15px 10px 15px 20px;
                                font-size: 16px;
                                line-height: 24px;
                            }
                            &:last-child {
                                padding-bottom: 30px;
                            }
                        }
                    }
                    .col-lg-4 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .ioh_search .search_input{
        .form-control{
            height: 50px;
            padding: 8px 50px;
            box-shadow: none;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            margin-bottom: 8px;
        }
        .search_input--support{
            font-size: 12px;
        }
        .search_icon{
            top: 6px;
            left: 12px;
        }
        .close_icon{
            top: 6px;
            right: 12px;
            img{
                width: 16px;
            }
        }
    }
    .nav_media_dropdown {
        .ioh_sub_menu_grp {
            .media_sub_menu {
                li {
                    display: none;
                    &:last-child {
                        display: block;
                    }
                    &:first-child {
                        display: block;
                    }
                    a {
                        padding: 15px 0px 0px 0px !important;
                        border-bottom: 0px !important;
                        &.arrow_link {
                            display: inline-flex !important;
                            padding: 10px 0px !important;
                            cursor: pointer;
                        }
                        p {
                            max-height: none !important;
                            overflow: initial;
                            text-overflow: initial;
                            -webkit-line-clamp: initial;
                            -webkit-box-orient: initial;
                            &:first-child {
                                font-size: 16px;
                                margin-bottom: 8px;
                            }
                        }
                    }
                    &:last-child {
                        padding-bottom: 20px !important;
                    }
                }
            }
        }
    }
    .nav_sr_dropdown {
        .ioh_sub_menu_grp {
            .sr_sub_menu {
                li {
                    p {
                        margin-bottom: 0px;
                        max-height: none !important;
                        overflow: initial;
                        text-overflow: initial;
                        -webkit-line-clamp: initial;
                        -webkit-box-orient: initial;
                    }
                    a {
                        border-bottom: 0px !important;
                        padding: 15px 0px 15px 0px !important;
                        &.arrow_link {
                            display: inline-flex !important;
                            padding: 10px 0px !important;
                            cursor: pointer;
                        }
                    }
                    &:last-child {
                        padding-bottom: 20px !important;
                    }
                }
            }
        }
    }
    .header_alerts {
        // .container {
        //     background-size: 100px;
        //     flex-direction: column;
        //     align-items: flex-start;
        // }
        .header_alerts_bgimg{
            height: 100px;
            background-size: 120px;
            min-width: 120px;
        }
        .header_alerts_info{
            flex-direction: column;
            align-items: flex-start;
        }
        &_heading {
            margin-bottom: 10px;
        }
        // .flex_grp_align_center {
        //     padding-left: 110px;
        // }
    }
}

@media (max-width: 575.98px) {
    .header_alerts {
        .container {
            padding: 12px 16px 12px 80px;
            background-position: -25px -25px;
            background-image: url(../images/icons/ioh_circles.png);
            background-repeat: no-repeat;
            background-size: 100px;
        }
        .header_alerts_bgimg{
            display: none;
        }
        &_heading {
            padding-left: 0px;
            margin-bottom: 8px;
            overflow: initial;
            text-overflow: initial;
            white-space: initial;
        }
        &_close {
            top: 5px;
            right: 5px;
        }
        .ioh_sm_btn {
            padding: 2px 16px;
            height: calc(2em + 0px);
        }
        .flex_grp_align_center {
            padding-left: 0px;
        }
    }
    .ioh_search .search_input{
        .search_icon{
            top: 8px;
        }
        .close_icon{
            top: 7px;
        }
    }
}

@media (max-width: 424.98px) {
    .ioh_megamenu {
        .top_header {
            .top_header_in {
                height: 26px;
            }
            .top_header_left_links li a {
                font-size: 10px;
            }
            .top_header_right .language_links li a {
                font-size: 10px;
            }
        }
        .ioh_header {
            .ioh_header_logo img {
                height: 30px;
                // margin-bottom: 0px;
            }
            .ioh_header_in {
                height: 54px;
            }
            .top_header_left_links li {
                margin-right: 10px;
            }
            .ioh_nav_menu {
                height: calc(100vh - 54px);
                top: 54px;
            }
            .ioh_nav_second_level {
                height: calc(100vh - 81px);
                top: 81px;
            }
        }
        &.fixed {
            .ioh_header .ioh_nav_menu {
                top: 54px;
                height: calc(100vh - 54px);
            }
        }
    }
    .ioh_search{
        top: 54px;
    }
}

@media (max-width: 374.98px) {}

@media (max-height: 650px) {
    .ioh_megamenu .ioh_header .ioh_nav_second_level{
        padding: 30px 0px 0px 0px;
        min-height: 500px;
    }
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes smoothScroll1 {
	0% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0px);
	}
}

