//BG Info Section
.bg_info_section {
    .bg_info_section_in {
        @extend %flex_grp_align_center;
        min-height: 130px;
        img {
            width: 200px;
            height: 130px;
            object-fit: cover;
            object-position: center center;
        }
        .bg_info_desc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
        }
        h3 {
            font-size: 28px;
            @extend %white-color;
            margin-bottom: 0px;
            flex: 1;
            text-align: center;
        }
    }
}

.bg_info_section_01{
    padding: 40px 0px;
    .inside_sec{
        @extend %flex_grp_align_center;
        .bg_info_img{
            margin-right: 40px;
            img{
                width: 150px;
            }
        }
        .div_grp{
            @extend %flex_grp_between;
            flex: 1;
        }
        .bg_info_desc,.ioh_h1{
            @extend %white-color;
        }
        .bg_info_desc{
            max-width: 500px;
        }
    }
}

@media (max-width: 1199.98px) {
    .bg_info_section .bg_info_section_in h3 {
        font-size: 24px;
        padding-right: 0px;
    }
}

@media (max-width: 991.98px) {
    .bg_info_section .bg_info_section_in {
        min-height: 100px;
        img {
            height: 100px;
            width: 120px;
        }
        h3 {
            font-size: 20px;
        }
    }
    .bg_info_section_01 .inside_sec .div_grp{
        flex-direction: column;
        align-items: flex-start;
        .bg_info_desc{
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 767.98px) {
    .bg_info_section .bg_info_section_in {
        min-height: 100px;
        padding: 20px;
        img {
            height: auto;
            width: 100px;
            object-fit: initial;
        }
        .bg_info_desc {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 20px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .bg_info_section_01 .inside_sec .bg_info_img img{
        width: 140px;
    }
}

@media (max-width: 575.98px) {
    .bg_info_section .bg_info_section_in {
        min-height: auto;
        flex-direction: column;
        align-items: center;
        .bg_info_desc {
            align-items: center;
            margin-left: 0px;
        }
        h3 {
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .bg_info_section_01 {
        padding-top: 30px;
        background-image: url(../images/icons/bottom-right-pink-bg-transparent.svg);
        background-position: bottom right;
        background-size: 130px;
        background-repeat: no-repeat;
        .inside_sec {
            .bg_info_img{
                display: none;
                opacity: 0;
            }
            .div_grp{
                .bg_info_desc{
                    .ioh_h1{
                        margin-bottom: 16px !important;
                    }
                    p{
                        margin-right: 55px;
                    }
                }
            }
        }
    }
}

@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}