//Shadow Card with two columns layout

.shadow_two_cols_card{
    border-radius: 24px;
    @extend %white-bg;
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &-left{
        width: 55%;
        padding: 35px 0px 35px 35px;
        h3{
            margin-bottom: 12px;
        }
        p{
            margin-bottom: 24px;
        }
    }
    &-right{
        width: 45%;
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img{
            // width: 100%;
            height: 251px;
            object-fit: cover;
            object-position: left center;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }
}

@media (max-width: 1199.98px) {
    .shadow_two_cols_card-right img{
        height: 220px;
    }
}

@media (max-width: 991.98px) {
    .shadow_two_cols_card-right img{
        height: 190px;
    }
}

@media (max-width: 767.98px) {
    .shadow_two_cols_card{
        border-radius: 16px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        &-left{
            width: 100%;
            padding: 24px 16px 16px 16px;
            p{
                margin-bottom: 16px;
            }
        }
        &-right{
            padding-left: 0px;
            width: 100%;
            justify-content: flex-start;
            &.img_align_center{
                justify-content: center;
                padding-left: 0px;
                img{
                    border-radius: 0px;
                }
            }
            img{
                width: 100%;
                object-fit:revert;
                height: auto;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;
            }
        }
    }
}

@media (max-width: 575.98px) {
  
}

@media (max-width: 424.98px) {

}

@media (max-width: 374.98px) {
    
}