.ioh-list{
    .ioh-list-hed{
        font-family:$primary;
        color:$primary;
    }
    ol {
        padding:0px 20px;
    li {
            padding-left: 10px;
            padding-bottom: 5px;
            margin: 0px;
        }
    }
}

.ioh-table{
    table{
        border-radius: 16px;
        -moz-border-radius:16px;
        -webkit-border-radius:16px;
        margin-bottom: 0px;
        border-collapse: collapse;
        box-shadow: 0 0 0 1px #e0e0e0;
        thead{
            th{
                background: #FFD600;
                padding: 17px 15px;
                @extend %primary-font;
                text-align: center;
                font-size: 16px;
                color: $dark-black;
                border-bottom: 0px;
                box-shadow: none;
                &:first-child{
                    -moz-border-top-left-radius:16px;
                    -webkit-border-top-left-radius:16px;
                    border-top-left-radius:16px;
                }
                &:last-child{
                    -moz-border-top-right-radius:16px;
                    -webkit-border-top-right-radius:16px;
                    border-top-right-radius:16px;
                }
            }
        }
        tbody{
            border-top: 0px !important;
            tr{
                td{
                    padding: 16px 15px;
                    text-align: center;
                    font-size: 16px;
                    border-bottom: 0px;
                }
                &:nth-child(even){
                    background: #F9F9F9;
                }
                &:last-child{
                    td{
                        &:first-child{
                            -moz-border-bottom-left-radius:16px;
                            -webkit-border-bottom-left-radius:16px;
                            border-bottom-left-radius:16px;
                        }
                        &:last-child{
                            -moz-border-bottom-right-radius:16px;
                            -webkit-border-bottom-right-radius:16px;
                            border-bottom-right-radius:16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .ioh-list{
        .ioh-list-hed{
            font-size:14px!important;
            color:$primary;
        }
    }
    .ioh-table{
        table{
            thead{
                th{
                    padding: 16px 7px;
                    font-size: 14px;
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 14px;
                        padding: 16px 7px;
                    }
                }
            }
        }
    }
}