//Popups
.cs_modal{
    .modal-dialog{
        max-width: 600px;
        top: 45%;
        transform: translate(0, -50%)!important;
        .modal-content{
            @extend %white-bg;
            border-radius: 16px;
            border: 0px;
            padding: 20px;
            .close{
                position: absolute;
                top: 0px;
                right: 00px;
                opacity: 1;
                border: 0px;
                background: transparent;
                cursor: pointer;
                z-index: 9;
            }
            .modal-body{
                width: 100%;
                padding: 0px;
            }
        }
    }
    .card_style_01{
        padding: 0px;
        box-shadow: none;
        .card_img{
            img{
                width: 96px;
                height: 96px;
            }
        }
    }
}
.cs_modal .modal-dialog .modal-content .modal-body{
    .card_style_01{
        .card_info p{
            max-height: 400px;
            overflow-x: auto;
        }
    }
}

.cs_modal1{
    .modal-dialog{
        max-width: 293px;
        top: 45%;
        transform: translate(0, -50%)!important;
        .modal-content{
            @extend %white-bg;
            border-radius: 16px;
            border: 0px;
            padding: 20px;
            .modal-body{
                width: 100%;
                padding: 0px;
                text-align: center;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 70px;
                }
                h4{
                    font-size: 18px;
                    margin: 16px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.loader_modal{
    .modal-dialog{
        max-width: 240px;
        top: 45%;
        transform: translate(0, -50%)!important;
        .modal-content{
            @extend %white-bg;
            border-radius: 16px;
            border: 0px;
            padding: 16px 24px;
            .modal-body{
                width: 100%;
                padding: 0px;
                text-align: center;
                img{
                    width: 70px;
                }
                h4{
                    font-size: 16px;
                    margin: 10px 0px 2px 0px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .cs_modal{
        .modal-dialog{
            max-width: 543px;
        }
    }
}


@media (max-width: 575.98px) {
    .cs_modal{
        .modal-dialog{
            margin: 0px 16px;
        }
        .card_style_01{
            flex-direction: column;
            .card_img{
                margin-bottom: 10px;
            }
        }
    }
    .cs_modal1{
        .modal-dialog{
            margin: 1.75rem auto;
        }
    }
    .loader_modal{
        .modal-dialog{
            margin: 1.75rem auto;
        }
    }
    .cs_modal .modal-dialog .modal-content .modal-body{
        .card_style_01{
            .card_info p{
                max-height: 280px;
            }
        }
    }
}