//Pagination
.ioh_pagination {
    display: flex;
    align-items: flex-start;
    li {
        a {
            font-size: 12px;
            @extend %dark-black-color;
            padding: 10px 0px;
            position: relative;
            margin-right: 36px;
            display: inline-block;
            white-space: nowrap;
            &::after {
                content: '';
                background: url(../images/icons/right_arrow_gray.svg) no-repeat;
                background-size: cover;
                position: absolute;
                top: 13px;
                right: -25px;
                width: 14px;
                height: 14px;
                pointer-events: none;
            }
            &:hover {
                @extend %primary-color;
            }
        }
        &:last-child {
            overflow: hidden;
            a {
                margin-right: 0px;
                color: $disable;
                pointer-events: none;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                &::after {
                    content: none;
                }
            }
        }
    }
    overflow-x: auto;
}

.rounded-pagination {
    overflow-x: auto;
    text-align: center;
    .pagination {
        display: inline-flex;
        align-items: center;
        .page-item {
            &:first-child {
                .page-link {
                    min-width: 80px;
                    width: auto;
                }
            }
            &:last-child {
                .page-link {
                    min-width: 80px;
                    width: auto;
                }
            }
        }
    }
    .page-item {
        &.active {
            .page-link {
                @extend %primary-bg;
                @extend %white-color;
                border-color: $red;
                &:hover {
                    @extend %primary-bg;
                    @extend %white-color;
                    border-color: $red;
                }
            }
        }
        &.disabled{
            .page-link {
                background-color: #F4F4F4;
                color: #E0E0E0;
                &:hover {
                    background-color: #F4F4F4;
                    color: #E0E0E0;
                }
            }
        }
        .page-link {
            width: 32px;
            height: 32px;
            margin: 0 3px;
            padding: 5px;
            @extend %flex_grp_center;
            border: solid 1px #eee;
            @extend %white-bg;
            font-size: 12px;
            color: #898989;
            text-align: center;
            font-family: $primary-font;
            border-radius: 50px;
            &:hover {
                background-color: #eee;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .ioh_pagination {
        li {
            a {
                padding-bottom: 5px;
                margin-right: 28px;
                &::after {
                    right: -20px;
                }
            }
            &:last-child{
                overflow: initial;
                a{
                    text-overflow: initial;
                    overflow: initial;
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}