//ioh_flexcard
.ioh_flexcard1{
    .card{border:0px; border-radius:16px;}
    .flexc-img{
        img{width:100%;}
    }
    .card-body{
        .card-text{
            color: $secondary;
        }
    }
}