//Two cards side by side in one section


.two_cards_section{
    .ioh_h1{
        text-align: center;
        margin-bottom: 60px;
    }
}
.promotion_card{
    @extend %white-bg;
    border-radius: 16px;
    display: flex;
    height: 100%;
    &_desc{
        width: 62%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px 10px 24px 20px;
        img{
            height: 48px;
        }
        h4{
            margin: 20px 0px;
            font-size: 24px;
            @extend %primary-font;
            max-height: 101px;
            @include ellipsis(3);
        }
    }
    &_img{
        width: 38%;
        align-self: stretch;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img{
            width: auto;
            max-height: 290px;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }
}

@media (max-width: 1199.98px) {
    .promotion_card{
        &_desc{
            h4{
                font-size: 20px;
                max-height: 93px;
            }
        }
        &_img{
            img{
                max-height: 220px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .promotion_card{
        &_desc{
            h4{
                font-size: 24px;
                max-height: 101px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .two_cards_section{
        .ioh_h1{
            text-align: left;
            margin-bottom: 20px;
        }
    }
    .promotion_card{
        &_desc{
            h4{
                font-size: 18px;
                max-height: 76px;
            }
        }
        &_img{
            img{
                max-height: 250px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .promotion_card{
        &_img{
            img{
                max-height: 220px;
            }
        }
    }
}

@media (max-width: 424.98px) {
    .promotion_card{
        &_desc{
            width: 64%;
            padding: 16px 5px 16px 15px;
            img{
                height: 28px;
            }
            h4{
                font-size: 16px;
                margin: 14px 0px;
                max-height: 67px;
            }
        }
        &_img{
            width: 36%;
            img{
                max-height: 170px;
            }
        }
        .ioh_btn{
            font-size: 10px;
            padding: 6px 14px;
            height: 30px;
            min-width: auto;
        }
    }
}

@media (max-width: 374.98px) {

}