//Icons & Paragraph side by side

.icon_para_list{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    &-img{
        margin-right: 28px;
        img{
            width: 48px;
        }
    }
    &-desc{
        padding-right: 20px;
        p{
            font-size: 14px;
            margin-bottom: 0px;
            line-height: 26px;
        }
    }
}

@media (max-width: 1199.98px) {
    
}

@media (max-width: 991.98px) {
    .icon_para_list{
        &-img{
            margin-right: 24px;
        }
        &-desc{
            padding-right: 0px;
        }
    }
}

@media (max-width: 767.98px) {
    .icon_para_list{
        margin-bottom: 20px;
        &-desc{
            p{
                line-height: 22px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    
}

@media (max-width: 424.98px) {
   
}

@media (max-width: 374.98px) {

}