//Cards
//Font Deviate P tag
.label_desc_card {
    padding: 26px;
    border-radius: 16px;
    @extend %white-bg;
    box-shadow: 0 8px 63px 0 rgba(0, 0, 0, .08);
    height: 100%;
    label {
        @extend %primary-color;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 8px;
        @extend %primary-font;
    }
    p {
        // font-family: $light-font;
        font-size: 24px;
        line-height: 30px;
        line-height: normal;
    }
}

.faq_section {
    background: #EBEBEB;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    align-items: center;
    &-img {
        margin-right: 40px;
        img {
            width: 72px;
        }
    }
    &-desc {
        flex: 1;
        h4 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0px;
        }
    }
    .ioh_btn {
        white-space: nowrap;
    }
}

.boc_list {
    ul {
        li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;
            flex-direction: row-reverse;
            p,
            h5 {
                margin-bottom: 0px;
                font-size: 16px;
            }
            p {
                width: 40%;
                color: $dark-gray;
            }
            h5 {
                width: 60%;
                color: $dark-black;
                @extend %primary-font;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
.card_style_01_wrap{
    .card_style_01{
        margin-bottom: 24px;
    }
}
.card_style_01{
    @extend %flex_grp_align_start;
    padding: 16px 16px 20px 16px;
    border-radius: 16px;
    box-shadow: 0px 8px 63px 0px rgba(0, 0, 0, .08);
    .card_img{
        margin-right: 24px;
        img{
            width: 96px;
            height: 96px;
            border-radius: 16px;
        }
    }
    .card_info{
        .date{
            font-size: 14px;
            margin-bottom: 8px;
        }
        h4{
            @extend %primary-font;
            font-size: 16px;
            margin-bottom: 10px;
        }
        h6{
            @extend %primary-font;
            font-size: 12px;
            margin-bottom: 8px;
        }
        p{
            font-size: 12px;
            margin-bottom: 0px;
        }
    }
}

.card_style_02{
    @extend %flex_grp_align_start;
    padding: 35px 40px 35px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    .card_img{
        margin-left: 70px;
        img{
            width: 100%;
            border-radius: 16px;
        }
    }
    .card_info{
        width: 55%;
        flex: 0 0 55%;
        h4{
            @extend %primary-font;
            font-size: 30px;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            margin-bottom: 0px;
        }
    }
}
.milestone-swiper .card_style_02 .card_info p:last-child{
    max-height: 220px;
    overflow-x: auto;
}

.dividend_history_graph{
    img{
        width: 100%;
    }
}

.label_heading_desc_grp{
    label{
        @extend %primary-font;
        font-size: 14px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    h4{
        font-size: 24px;
        margin-bottom: 16px;
    }
}

.fixed_icon_desc_comp{
    @extend %flex_grp_align_start;
    &_i{
        margin-right: 36px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
        }
    }
    &_d{
        h3{
            font-size: 30px;
        }
    }
}


@media (max-width: 1199.98px) {
    .boc_list {
        ul {
            li {
                p {
                    width: 50%;
                }
                h5 {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .card_style_01{
        padding: 16px;
        .card_img{
            margin-right: 16px;
            img{
                width: 64px;
                height: 64px;
            }
        }
    }
    .card_style_02{
        padding: 20px;
        .card_img{
            margin-left: 20px;
        }
    }
}

@media (max-width: 767.98px) {
    .label_desc_card {
        padding: 20px 15px;
        label {
            font-size: 12px;
        }
        p {
            font-size: 18px;
            font-family: $regular-font;
            line-height: 22px;
        }
    }
    .faq_section {
        flex-direction: column;
        padding: 20px;
        border-radius: 16px;
        &-img {
            margin-bottom: 12px;
            margin-right: 0px;
            img {
                width: 50px;
            }
        }
        &-desc {
            text-align: center;
            h4 {
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 16px;
            }
        }
        .flex_grp_between {
            flex-direction: column;
            align-items: center;
        }
    }
    .boc_list {
        ul {
            li {
                p {
                    width: 50%;
                }
                h5 {
                    padding-left: 20px;
                    width: 50%;
                }
            }
        }
    }
    .card_style_01_wrap{
        .card_style_01{
            margin-bottom: 16px;
        }
    }
    .card_style_02{
        flex-direction: column-reverse;
        padding: 20px;
        .card_img{
            margin-left: 0px;
            margin-bottom: 16px;
        }
        .card_info{
            width: 100%;
            flex: 0 0 100%;
            h4{
                font-size: 20px;
                margin-bottom: 12px;
            }
            p{
                font-size: 14px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .label_heading_desc_grp{
        margin-bottom: 20px;
        h4{
            font-size: 22px;
        }
    }
    .fixed_icon_desc_comp{
        flex-direction: column;
        &_i{
            margin-right: 0px;
            margin-bottom: 20px;
        }
        &_d{
            h3{
                font-size: 24px;
            }
        }
    }
}


@media (max-width: 575.98px) {
    .boc_list {
        ul {
            li {
                flex-direction: column;
                p {
                    width: 100%;
                    font-size: 14px;
                }
                h5 {
                    padding-left: 0px;
                    width: 100%;
                }
            }
        }
    }
    .label_heading_desc_grp{
        label{
            font-size: 12px;
            margin-bottom: 4px;
        }
        h4{
            font-size: 20px;
        }
    }
    .fixed_icon_desc_comp{
        &_d{
            h3{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 424.98px) {
    .boc_list {
        ul {
            li {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .card_style_01{
        .card_info{
            .date{
                font-size: 12px;
                margin-bottom: 6px;
            }
            h4{
                margin-bottom: 6px;
            }
            h6{
                margin-bottom: 6px;
            }
        }
    }
    .fixed_icon_desc_comp{
        flex-direction: column;
        &_i{
           img{
            width: 124px;
            height: 124px;
           }
        }
        &_d{
            h3{
                font-size: 20px;
            }
        }
    }
    .label_heading_desc_grp{
        h4{
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 374.98px) {}