//Three cols with icons & text vartically align
.three_cols_icon_desc {
    &-card {
        text-align: center;
        img {
            width: 110px;
        }
        h4 {
            @extend %primary-font;
            margin-top: 22px;
            margin-bottom: 10px;
            font-size: 18px;
        }
        p {
            margin-bottom: 0px;
            padding: 0px 30px;
        }
    }
}

.three-col-swiper {
    padding-bottom: 16px;
    .swiper-pagination {
        bottom: -4px;
        .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            @extend %secondary-bg;
            opacity: 0.6;
            &-active {
                background: $primary !important;
                opacity: 1 !important;
            }
        }
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .three_cols_icon_desc {
        &-card {
            p {
                padding: 0px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .three_cols_icon_desc {
        &-card {
            margin-bottom: 24px;
            img {
                width: 100px;
            }
        }
    }
}

@media (max-width: 575.98px) {}

@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}