//Image Desc Section
.image_desc_section{
    position: relative;
    height: 530px;
    display: flex;
    align-items: center;
    overflow: hidden;
    > div{
        flex: 1;
    }
    .container{
        align-self: stretch;
        .row{
            height: 100%;
            align-items: center;
        }
    }
    &-info{
        label{
            @extend %primary-color;
            margin-bottom: 8px;
            text-transform: uppercase;
            @extend %primary-font;
            font-size: 14px;
        }
        position: relative;
        padding: 40px 0px 40px 0px;
    }
    &-img{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        z-index: 0;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
}


.mini_hero_swiper{
    position: relative;
    height: 264px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &-bg{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        z-index: 0;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .container{
        position: relative;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row{
            &:last-child{
                flex: 1;
                align-items: center;
            }
        }
    }
}



@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
    .image_desc_section{
        .p_ellipsis_4{
            max-height: none;
            overflow: initial;
            text-overflow: initial;
            -webkit-line-clamp: initial;
            -webkit-box-orient: initial;
        }
    }
}

@media (max-width: 767.98px) {
    .image_desc_section{
        flex-direction: column;
        height: auto;
        .h1_ellipsis_2{
            max-height: none;
            overflow: initial;
            text-overflow: initial;
            -webkit-line-clamp: initial;
            -webkit-box-orient: initial;
        }
        .h1_ellipsis_3{
            max-height: none;
            overflow: initial;
            text-overflow: initial;
            -webkit-line-clamp: initial;
            -webkit-box-orient: initial;
        }
        .row{
            flex-direction: column-reverse;
        }
        &-info{
            padding: 40px 0px 40px 0px;
        }
        &-img{
            position: initial;
            top: auto;
            bottom: auto;
            left: auto;
            align-self: stretch;
            img{
                height: auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: 575.98px) {
    
    .image_desc_section{
        &-info{
            label{
                font-size: 12px;
            }
        }
        &.pt-0{
            .image_desc_section-img{
                img{
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
            }
        }
    }
    .mini_hero_swiper{
        height: 210px;
        &-bg{
            img{
                object-position: center right;
            }
        }
    }
}

@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}

// @media (min-width: 768px) {
//     .image_desc_section{
//         &-img{
//             right: -68%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -68%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 800px) {
//     .image_desc_section{
//         &-img{
//             right: -64%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -64%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 850px) {
//     .image_desc_section{
//         &-img{
//             right: -57%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -57%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 900px) {
//     .image_desc_section{
//         &-img{
//             right: -51%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -51%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }


// @media (min-width: 991px) {
//     .image_desc_section{
//         &-img{
//             right: -43%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -43%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1000px) {
//     .image_desc_section{
//         &-img{
//             right: -41%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -41%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1050px) {
//     .image_desc_section{
//         &-img{
//             right: -37%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -37%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1100px) {
//     .image_desc_section{
//         &-img{
//             right: -33%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -33%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1150px) {
//     .image_desc_section{
//         &-img{
//             right: -29%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -29%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1200px) {
//     .image_desc_section{
//         &-img{
//             right: -25%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -25%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1300px) {
//     .image_desc_section{
//         &-img{
//             right: -19%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -19%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1400px) {
//     .image_desc_section{
//         &-img{
//             right: -17%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -17%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1500px) {
//     .image_desc_section{
//         &-img{
//             right: -14%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -14%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1600px) {
//     .image_desc_section{
//         &-img{
//             right: -8%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -8%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1700px) {
//     .image_desc_section{
//         &-img{
//             right: -6%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -6%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1800px) {
//     .image_desc_section{
//         &-img{
//             right: -3%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: -3%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }
// @media (min-width: 1900px) {
//     .image_desc_section{
//         &-img{
//             right: 0%;
//             transform: translateX(0%);
//         }
//         &.image_desc_section_reverse{
//             .image_desc_section-img{
//                 left: 0%;
//                 transform: translateX(0%);
//             }
//         }
//     }
// }

