//Forms
.iohform_control {
    font-size: 16px;
    border-radius: 8px;
    @extend %white-bg;
    border: 1px solid #E0E0E0;
    width: 100%;
    height: calc(2.5em + 0px);
    padding: 8px 16px;
    &::placeholder {
        color: $disable;
        opacity: 1;
        font-family: $light-font;
    }
    &::-webkit-input-placeholder {
        color: $disable;
        font-family: $light-font;
    }
    &::-moz-placeholder {
        color: $disable;
        font-family: $light-font;
    }
    &:-ms-input-placeholder {
        color: $disable;
        font-family: $light-font;
    }
    &:-moz-placeholder {
        color: $disable;
        font-family: $light-font;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &:focus {
        border-color: #E0E0E0;
    }
    &:disabled,
    &.disabled {
        background: $disable;
    }
    &.error{
        border-color: $red;
        &:focus{
            border-color: $red;
        }
    }
}

textarea.iohform_control {
    height: 8em;
    min-height: auto;
    resize: none;
}

.ioh_select {
    position: relative;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding-right: 36px;
        &::-ms-expand {
            display: none;
        }
        option {
            width: 100%;
        }
    }
    &::before {
        position: absolute;
        content: '';
        background: url(../images/icons/arrow_down_gray.svg) no-repeat;
        background-size: cover;
        right: 6px;
        top: 6px;
        width: 28px;
        height: 28px;
        pointer-events: none;
    }
}

.input_icon {
    position: relative;
    button {
        position: absolute;
        box-shadow: none;
        border: none;
        background: none;
        padding: 5px;
        img {
            width: 20px;
        }
    }
    &.input_left_icon {
        input {
            padding-left: 50px;
        }
        button {
            top: 5px;
            left: 12px;
        }
    }
    &.input_right_icon {
        input {
            padding-right: 50px;
        }
        button {
            top: 5px;
            right: 12px;
        }
    }
    &.input_left_right_icon {
        input {
            padding-left: 50px;
            padding-right: 50px;
        }
        .left-icon {
            top: 5px;
            left: 12px;
        }
        .right-icon {
            top: 5px;
            right: 12px;
        }
    }
}

.tab_forms{
    margin-top: 30px;
}

.rect_box_radio {
    position: absolute;
    opacity: 0;
    &+label{
        position: relative;
        cursor: pointer;
        padding: 8px 16px;
        margin-bottom: 0px;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        font-size: 14px;
        color: $disable;
        height: 40px;
        display: inline-flex;
        align-items: center;
        @extend %white-bg
    }
    &:checked{
        &+label{
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .input_cols{
        > *{
            padding-left: 16px !important;
            padding-right: 16px !important;
            &:first-child{
                margin-bottom: 16px;
            }
        }
    }
    .tab_forms{
        margin-top: 20px;
    }
}
@media (max-width: 424.98px) {}

@media (max-width: 374.98px) {}