//Buttons
.ioh_btn {
    padding: 8px 36px;
    font-size: 14px;
    height: calc(2em + 12px);
    min-width: 120px;
    border: 1px solid;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    @extend %primary-font;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::after{
	    transition: all 0.3s;
        height: 100%;
        left: -35%;
        top: 0;
        // transform: skew(50deg);
        transition-duration: 0.5s;
        transform-origin: top left;
        width: 0;
        border-radius: 50px;
    }
    &::before,&::after{
        content: '';
        position: absolute;
        z-index: 0;
        background: rgba(0, 0, 0, 0.15);
    }
    &:hover{
        &::after{
            height: 100%;
            width: 135%;
        }
    }
}

.ioh_md_btn {
    padding: 4px 20px;
    font-size: 13px;
    height: calc(1em + 17px);
    min-width: auto;
}

.ioh_sm_btn {
    padding: 8px 20px;
    font-size: 12px;
    height: calc(2em + 16px);
    min-width: auto;
    border-radius:30px;
}

.ioh_xs_btn {
    padding: 5px 16px;
    font-size: 12px;
    height: calc(1em + 10px);
}

.ioh_btn_primary {
    border-color: $red;
    @extend %primary-bg;
    @extend %white-color;
    &:hover {
        border-color: $btn-hover;
        background: $btn-hover;
        @extend %white-color;
    }
    &.disabled,
    &:disabled {
        background: $disable;
        border-color: $disable;
        @extend %white-color;
        &:hover {
            background: $disable;
            border-color: $disable;
            @extend %white-color;
        }
    }
}

.ioh_btn_white {
    border-color: $white;
    @extend %white-bg;
    @extend %dark-black-color;
    &:hover {
        border-color: $white;
        @extend %white-bg;
        @extend %dark-black-color;
    }
    &.disabled,
    &:disabled {
        background: $disable;
        border-color: $disable;
        @extend %white-color;
        &:hover {
            background: $disable;
            border-color: $disable;
            @extend %white-color;
        }
    }
    &.primary_color{
        @extend %primary-color;
        &:hover {
            border-color: $white;
            @extend %white-bg;
            @extend %primary-color;
        }
    }
}

.ioh_btn_turqoise {
    border-color: $turqoise;
    background: $turqoise;
    @extend %white-color;
    &:hover {
        border-color: $turqoise;
        background: $turqoise;
        @extend %white-color;
    }
    &.disabled,
    &:disabled {
        background: $disable;
        border-color: $disable;
        @extend %white-color;
        &:hover {
            background: $disable;
            border-color: $disable;
            @extend %white-color;
        }
    }
}

.ioh_btn_gray {
    border-color: $border;
    background: $border;
    @extend %dark-black-color;
    &:hover {
        border-color: $border;
        background: $border;
        @extend %dark-black-color;
    }
}

.ioh_btn_outline_primary {
    border-color: $red;
    @extend %white-bg;
    @extend %primary-color;
    &:hover {
        border-color: $red;
        @extend %white-bg;
        @extend %primary-color;
    }
    &.disabled,
    &:disabled {
        @extend %white-bg;
        color: $disable;
        border-color: $disable;
        &:hover {
            @extend %white-bg;
            color: $disable;
            border-color: $disable;
        }
    }
}

.btn-block{
    min-width: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow_link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    @extend %primary-font;
    @extend %primary-color;
    cursor: pointer;
    img {
        width: 12px;
    }
    &:hover {
        @extend %primary-color;
        img{
            animation: slide1 .8s ease-in-out infinite;
        }
    }
    &.arrow_link_white {
        @extend %white-color;
        &:hover {
            @extend %white-color;
        }
    }
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(8px, 0);
    }
}

.swiper_btn_prev,
.swiper_btn_next {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    @extend %white-bg;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    img {
        width: 12px !important;
    }
    &.swiper-button-disabled {
        background: $white-light;
        box-shadow: none;
        img {
            opacity: .3;
        }
    }
    &:focus{
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
}

.ioh_mail_btn {
    padding: 6px 25px 6px 12px;
    @extend %primary-bg;
    @extend %white-color;
    @extend %primary-font;
    height: 48px;
    border-radius: 30px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    img {
        width: 36px;
        margin-right: 8px;
    }
    &:hover {
        @extend %white-color;
        background: $btn-hover;
    }
}

.link {
    color: blue;
    text-decoration: underline;
    word-wrap: break-word;
    &:hover {
        color: blue;
        text-decoration: underline;
    }
}

@media (max-width: 575.98px) {
    .ioh_btn_primary {
        text-transform: uppercase;
    }
}

//ka changes

//download-btn
.ioh_btn_download {
    border-color: $tints;
    background-color:$tints;
    @extend %white-color;
    &:hover {
        border-color: $tints;
        background: $tints-dark;
        @extend %white-color;
    }
    &.disabled,
    &:disabled {
        background: $disable;
        border-color: $disable;
        @extend %white-color;
        &:hover {
            background: $disable;
            border-color: $disable;
            @extend %white-color;
        }
    }
}

.ioh_btn_white_bg {
    border-color: $white;
    background-color:$white;
    @extend %primary-color;
    &:hover {
        border-color: $white;
        background-color:$white;
        @extend %primary-color;
    }
    &.disabled,
    &:disabled {
        background: $disable;
        border-color: $disable;
        @extend %white-color;
        &:hover {
            background: $disable;
            border-color: $disable;
            @extend %white-color;
        }
    }
}

//kanna changes end


@media (max-width: 767.98px) {
    .ioh_mail_btn {
        padding: 6px 20px 6px 12px;
        font-size: 14px;
        img {
            margin-right: 8px;
        }
    }
}

@media (max-width: 374.98px) {
    .ioh_mail_btn {
        font-size: 13px;
        img {
            width: 30px;
            margin-right: 5px;
        }
    }
}

@media (max-width: 350px) {
    .ioh_mail_btn {
        font-size: 12px;
        img {
            width: 24px;
        }
    }
}