// GLOBAL VARIABLES
@font-face {
    font-family: 'qualy-bold';
    src: url('fonts/Qualy-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'prompt-light';
    src: url('fonts/Prompt-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'prompt-regular';
    src: url('fonts/Prompt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//Fonts
$primary-font:'qualy-bold',
'prompt-regular',
Arial,
Helvetica,
sans-serif;
$light-font:'prompt-light',
Arial,
Helvetica,
sans-serif;
$regular-font:'prompt-regular',
Arial,
Helvetica,
sans-serif;
//Colors
$primary:#EC008C;
$secondary:#211e20;
$dark-black:#4C4D4F;
$dark-gray:#898989;
$disable:#AAAAAA;
$border:#EEEEEE;
$white-light:#F8F8F8;
$black:#000000;
$white:#FFFFFF;
$yellow: #FFCB05;
$btn-hover:#ED1D25;
$white-light1:#f2f2f2;
$red:#ED1D25;
$purple:#C6168D;
$turqoise:#32BCAD;
$green:#77AC4E;
$blue:#017DC7;
$purple-dark:#662D91;

$pink0:#ec008c;
$pink2:#76AC4E;
$pink1:#017DC7;
$pink:#32BCAD;
$tints:#32BCAD;
$tints-dark:#1d9d8f;
//Extendsrgb(19, 30, 28)
%primary-font {
    font-family: $primary-font;
}

%regular-font {
    font-family: $regular-font;
}

%light-font {
    font-family: $light-font;
}

%primary-color {
    color: $red;
}

%primary-bg {
    background: $red;
}

%secondary-color {
    color: $secondary;
}

%secondary-bg {
    background: $secondary;
}

%dark-black-color {
    color: $dark-black;
}

%dark-black-bg {
    background: $dark-black;
}

%white-color {
    color: $white;
}

%white-bg {
    background: $white;
}

%flex_grp_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex_grp_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex_grp_align_center {
    display: flex;
    align-items: center;
}

%flex_grp_align_start {
    display: flex;
    align-items: flex-start;
}